{% extends "base_generic.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/product_list.css' %}">
{% endblock %}

{% block content %}
<br>
<br>
<div class="container mt-5">
    <h2 class="text-center mb-4">My Products</h2>
    <div class="text-right mb-3">
        <a href="{% url 'product_add' %}" class="btn btn-success">Add New Product</a>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity Available</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in object_list %}
                <tr class="product-row">
                    <td><img src="{{ product.image.url }}" class="product-img" alt="{{ product.name }}"></td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }} USD</td>
                    <td>{{ product.quantity_available }}</td>
                    <td>
                        <a href="{% url 'product_edit' product.id %}" class="btn btn-primary btn-sm">Edit</a>
                        <a href="{% url 'product_delete' product.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
